<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<select>
	<% @bebes.each do |bebe| %>
	<option value="<%= bebe['id'] %>"><%= bebe['name'] %></option>
	<% end %>
</select>

<div class="main" style="width: 100%;">
	<div id="spinner" class=""></div>
	<table id="table" class="table" style="width: 70%; margin-left: 15%;">
	  	<thead class="thead-dark">
	    	<tr>
		      <th scope="col">Bebé</th>
		      <th scope="col">Asistente</th>
		      <th scope="col">Actividad</th>
		      <th scope="col">Inicio</th>
		      <th scope="col">Estatus</th>
		      <th scope="col">Duración</th>
		    </tr>
		</thead>
	  	<tbody id="elementos">
	  	</tbody>
	</table>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		consultarInformacion(null, null, null, null);
	});


	function consultarInformacion(baby_id, assistant_id, page_id, status){
		$('#spinner').addClass('hm-spinner');
		console.log("vamos con ajax")
		$.ajax({
			type:"POST", 
			url:"<%= consultar_info_path %>",
			data: {baby_id: baby_id, assistant_id: assistant_id, page_id: page_id, status: status},
			dataType: 'json',
			success:function(result){
				if(result[0] == 200){
					console.log("success")
					console.log(result[1])
					$.each(result[1], function(index, value){
						$('#elementos').append("<tr><th>"+ value['baby_name'] + "</th><th>"+ value['assistant_id'] + "</th><th>"+ value['activity_name'] + "</th><th>"+ value['start_time'] + "</th><th>"+ value['status'] + "</th><th>"+ value['duration'] + " min</th></tr>");
					});
					$('#spinner').removeClass('hm-spinner');
				}else{
					console.log("Error")
					console.log(result[1])
				}
			}, 
			error:function(err){
				$('#spinner').removeClass('hm-spinner');
				console.log("Error no se recibieron los datos")
				console.log(err)	
			}
	  	});
	}
</script>